<h1><%= @user.username %> events</h1>

<h3>Created Events</h3>
<% @user.events.each do |event| %>
    <p>Title: <%= event.title %></p>
    <p>Location: <%= event.location %></p>
<% end %>

<h3>Attended Events</h3>
<% @user.attended_events.each do |event| %>
    <p>Title: <%= event.title %></p>
    <p>Location: <%= event.location %></p>
<% end %>