<h1><%= @user.username %> events</h1>

<h3>Created Events</h3>
<% @user.events.each do |event| %>
    <p>Title: <%= event.title %></p>
    <p>Location: <%= event.location %></p>
<% end %>

<h3>Attended Events</h3>
<h4>Future events</h4>
<% @user.attended_events.where("date > ?", DateTime.now).each do |event| %>
    <p>Title: <%= event.title %></p>
    <p>Location: <%= event.location %></p>
<% end %>

<h4>Past events</h4>
<% @user.attended_events.where("date < ?", DateTime.now).each do |event| %>
    <p>Title: <%= event.title %></p>
    <p>Location: <%= event.location %></p>
<% end %>