<h1>Events</h1>
<div><%= button_to "Create Event", events_new_path, method: :get, class: "create-button" %></div>

<% @events.includes(:creator).each do |event| %>
    <div class="event-item">
        <a href="<%= event_url(event.id) %>">
            <div class="link-grid">
                <h3 class="link-grid-item">
                    <%= event.title %>
                </h3>
                <p class="link-grid-item when-where">
                    <b>When: </b><%= event.date %>
                    <br>
                    <b>Where: </b><%= event.location %>
                </p>
                <p class="creator">
                    Creator: <%= event.creator.username %>
                </p>
            </div>
        </a>
    </div>
<% end %>