<h1><%= @event.title %></h1>

<% if current_user&.id == @event.creator_id %>
  <%= button_to "Delete", @event, method: :delete %>
  <%= link_to "Edit", event_edit_path %>
<% end %>

<%# ATTEND %>
<%= button_to "Attend", @invitation, params: { event_id: @event.id } %>

<%# CANCEL ATTENDANCE %>

<p>Event from: <%= @event.creator.username %></p>
<h3>Where: <%= @event.location %></h3>
<h3>When: <%= @event.date %></h3>
<h3>What: <%= @event.description %></h3>

<h3>Attendees:</h3>

<ul>
  <% @event.attendees.each do |attendee| %>
    <li><%= attendee.username %></li>
  <% end %>
</ul>


