
<h1><%= @event.title %></h1>
<div class="event-content">

  <div class="event-buttons">
    <%# ATTENDANCE %>
      <% if user_signed_in? && @event.attendees.map(&:username).include?(current_user.username) %>
        <%= button_to "Cancel Attendance", invitation_destroy_url, method: :delete, params: { event_id: @event.id } %>
      <% else %>
          <%= button_to "Attend", @invitation, params: { event_id: @event.id }, data: { turbo: false } %>
      <% end %>
    <%# ######### %>

    <%# EDIT AND DESTROY OWNED EVENT %>
      <div class="owned-buttons">
        <% if current_user&.id == @event.creator_id %>
          <%= button_to "Edit", event_edit_path(@event), method: :get %>
          <%= button_to "Delete", @event, method: :delete %>
        <% end %>
      </div>
    <%# ######### %>
  </div>

  <b>Creator: </b><%= @event.creator.username %><br><br>
  <b>Where: </b><%= @event.location %><br><br>
  <b>When: </b><%= @event.date %><br><br>
  <b>What: </b><%= @event.description %><br><br>
  
  <b>Attendees:</b>
  
  <ul>
    <% @event.attendees.each do |attendee| %>
      <li><%= attendee.username %></li>
    <% end %>
  </ul>
</div>


