<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "normalize" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="header">
      <div class="header-link left"><%= link_to "Events", root_path %></div>
      <div class="header-link right">
        <% if current_user %>
            <%= button_to "#{current_user.username}", user_path(current_user.id), method: :get %>
            <%= button_to "Log out", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= button_to "Log in", new_user_session_path, method: :get  %>
            <%= button_to "Sign up", new_user_registration_path, method: :get  %>
        <% end %>
      </div>
    </div>

    <div class="flash-messages">
      <% if notice %>
        <p class="notice"><%= notice %></p> 
      <% end %>
      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>
    </div>


    <div class="content"><%= yield %></div>
  </body>
</html>
